@import https://cdn.sahu.me/Fonts/OpenSans-Bold.ttf
@import https://cdn.sahu.me/Fonts/OpenSans-Regular.ttf

@font-face {
	font-family: opensans-regular;
	src: url("https://cdn.sahu.me/Fonts/OpenSans-Regular.ttf");
	
	
}

@font-face {
	font-family: opensans-bold;
	src: url("https://cdn.sahu.me/Fonts/OpenSans-Bold.ttf");
		
}

@font-face {
	font-family: opensans-light;
	src: url("https://cdn.sahu.me/Fonts/OpenSans-Light.ttf");
		
}

html body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #FFF0F5;
}

h1 {
	font-family: opensans-bold;
	
	
}

p {
	
	font-family: opensans-light;
	
}

a {
	cursor: pointer;
		
}


.header {
	width: 100%;
	height: 15%;
	display: flex;
	background-color: white;
	align-content: center;
	justify-content: center;
	overflow: hidden;
}

.header-item {
	display: flex;
	width: 25%;
}

.header-item img {
	width: 3.5vh;
	height: 3.5vw;
	
}




.logo {
	float: left;
	display: flex;
	align-content: center;
	justify-content: center; 
	height: 90%;
	width: 40%;
}

.logo img {
	padding: 1vh;
	align-content: center;
	justify-content: center;
	
}

.links {
 display: flex;
 align-content: center;
 justify-content: left;
 float: right;
 height: 90%;
 width: 60%;
 padding-top: 3px;
}

.links * {
  align-content: center;
 justify-content: left;
}

.links a {
	
	font-size: 1vh;
	
	
}

.links div {
	width: 20vh;
	height: auto;
}

.links img{
	width: 20vh;
	
}


.intro {
	height: 1000px;
    width: 100%;
    background-image: url("https://domf5oio6qrcr.cloudfront.net/medialibrary/11499/3b360279-8b43-40f3-9b11-604749128187.jpg");
    top: 0;
    background-size: cover;
    text-align: center;
    font-size: 200%;
    color: white;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	display: flex;
}

.title-and-subtitle {
	font-size: 8vh;
	padding: 2vw;

}

.title-and-subtitle * {
 
 font-size: 2vw;
	
}


.big-green-button {
   text-align  : center;
   background-color: #0abf53;
   font-size: 2vw;
   padding: 2vh;
   color: white;
   text-decoration: none;
 
}

.big-yellow-button {
   text-align  : center;
   background-color: #ffd900;
   font-size: 2vw;
   padding: 2vh;
   color: white;
   text-decoration: none;
 
}


.big-yellow-button:hover {
   text-align  : center;
   background-color: #fbb034;
   font-size: 2vw;
   padding: 2vh;
   color: black;
   text-decoration: none;
 
}


.big-green-button:hover {
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	background-color: #058036;
}	


.big-white-button {
   text-align  : center;
	background-color: white;
	font-size: 2vw;
	padding: 2vh;
	color: #444444;
	text-decoration: none;
}


.big-white-button:hover {
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	background-color: #cfcfcf;
}


/*
Product Page CSS*/

	


.bar {
	background-color: #505050;
	padding: 1vh
}


.bar svg {
	width:  3vh;
	height: 3vh;
	margin-right: 1vh;
}




.product-page {
	margin: 0 auto;
	width: 70%;
	
}


.row1 {
	margin: 0 auto;
	height: auto;
	margin-bottom: 2vh;
	display: flex;
}

.product-image {
  width: 50%;
}

.product-info {
	width: 50%;
	
	
}





.row2 {
	margin: 0 auto;
	height: auto;
	margin-bottom: 2vh;
	display: flex;
}


.reviews {
	background-color: white;
	width: 50%;
	height: 500px;
}

.suggestions {
	background-color: white;
	width: 50%;
}


.footer{
    background-color: #13232F;
    width: 100%;
    color: white;
    text-decoration: none;
    height: 30%;
}





